{
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": [
              "last 2 versions",
              "not ie <= 8",
              "not op_mini all"
            ]
          }
        }],
        "@babel/preset-react",
        "jest"
      ]
    }
  }
}
